<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
  <h1>{{ twitter }}</h1>
  <input type="text" [value]="twitter">
  <input type="text" [value]="twitter" (input)="updateTwitter( $event )">
  <input type="text" [(ngModel)]="twitter">

  <p #myVar>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla laudantium quod quasi enim ad dignissimos possimus expedita rerum omnis commodi optio laborum porro rem ex, quas quisquam facere quia magni.</p>
  <button ion-button (click)="myVar.innerHTML = 'bla bla bvla bla'">change</button>

  <button ion-button (click)="showAlert()">click me!!!</button>
  <button ion-button (click)="goToPage()">a </button>

  <hr/>

  <h1>Persons</h1>
  <ul>
    <li *ngFor="let person of persons">
      {{ person.name }} - {{ person.age }}
      <span *ngIf="!person.isSingle">es feliz</span>
      <span *ngIf="person.isSingle">no es feliz</span>
    </li>
  </ul>

</ion-content>
